
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p><del></del>#2 Tüm Başlıklarda Paging--> </del></p>
<p>#3 Sessiona göre mesajlar ayarla </p>
<p>#4 Oturum Yönetiminin mimariye taşınması </p>
<p>#5 Token Kullanımı </p>
<p>#6  </p>

